@font-face{font-family:Material Symbols Outlined Variable;font-style:normal;font-display:swap;font-weight:100 700;src:url(/assets/material-symbols-outlined-latin-fill-normal-Dsa4eOtD.woff2) format("woff2-variations")}
