name: "Build and Preview"

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

permissions: write-all

concurrency: preview-${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    name: Make sure it builds. Then show a preview.
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '21'
          cache: 'npm'
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-
      - name: Install dependencies
        run: npm ci
      - name: Generate resources
        run: npm run generate
      - name: Run build with Base
        run: npx vite build --base="/genshin-farming-helper/pr-preview/pr-$(echo $GITHUB_REF | awk 'BEGIN { FS = "/" } ; { print $3 }')/"
      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./build/
