name: "Lint"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions: write-all

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Make sure the code adheres to the XO coding standard.
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-
      - name: Install dependencies
        run: npm ci
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          fingerprint: "38E6EABC680CCFCE10EA0454372717D2D3474974"
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_config_global: true
      - name: List keys
        run: gpg -K
      - name: Run linter
        uses: wearerequired/lint-action@v2
        with:
          auto_fix: true
          xo: true
          xo_args: "--config eslint.config.js"
          commit_message: ":sparkles: fix code style issues with ${linter}"
          git_email: Primajin@users.noreply.github.com
